/* common css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.section {
    padding: 50px 0;
}

.section-header {
    text-align: center;
}

.section-badge {
    background: orange;
    color: white;
    font-weight: 600;
    margin: 0 auto;
    padding: 8px 10px;
    width: 30vh;
    border-radius: 20px;
}

.section-title {
    font-size: 35px;
    font-weight: 700;
    font-style: italic;
    padding: 16px 0;
}

/* ----------- */